.High {
  Background-color: red;
  font-color: white;
}
.Med {
  background-color: orange;
  font-color: white:
}
.Low {
  background-color: gray;
}
.Done {
  background-color: black;
  font-color: cyan;
}
