#sticky {
  position: fixed;
  width: 100%;
  background-color: cyan;
  height: 70px;
  top: 0px;
  left: 0px;
}
body{
  top:70px;
  margin: 0px;
}
#home {
  position: absolute;
  text-align: left;
  margin: 0;
  left: 0px;
}
#hobby {
  position: absolute;
  text-align: center;
  margin: 0;
  left: 45%;
}
#gallery {
  position: absolute;
  text-align: right;
  margin: 0;
  left: 90%;
}
section#left {
  float: left;
  width: 50%;
  background-color: orange;
  left: 0px;
}
section#right {
  float: right;
  background-color:green;
}
