#sticky {
  float: left;
  position: fixed;
  width: 100%;
  background-color: cyan;
  top: 0px;
  left: 0px;
}
a#home {
  text-align: left;
  margin: 0;
}
a#hobby {
  text-align: center;
  margin: 0;
}
a#gallery {
  text-align: right;
  margin: 0;
}
