#list {
  background-color: cyan;
  height:60%;
  width: 80%;
  padding-left: 0px;
}
html {
  background-color: blue;
}
#ButtonLayout {
  background-color:cyan;
  width: 80%;
}
.High {
  color:Red;
}
.Medium {
  color:yellow;
}
.Low {
  color:Green;
}
